App/evidenceServer/.ReportSystemCache/pid3272/ProcessLock/
*.log
*.config
Src/VehicleSolution/001_GlauxSoft.Vehicle.Common/obj/Debug/
App/evidenceServer/.ReportSystemCache
App/evidenceServer/log
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.config
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
App/EvidenceNova/log
App/evidenceServer/EvidenceXPServerWinShell.config
App/evidenceServer/log
App/EvidenceNova/App_Data/store