App/evidenceServer/.ReportSystemCache/pid3272/ProcessLock/
App/evidenceServer/.ReportSystemCache/pid4148/ProcessLock/*
App/evidenceServer/.ReportSystemCache/pid4148/ProcessLock
App/evidenceServer/log
App/evidenceServer/log/
App/evidenceServer/log/*
App/evidenceServer/log/**
App/EvidenceNova/nova.config
Src/VehicleSolution/001_GlauxSoft.Vehicle.Common/obj/Debug/**
App/EvidenceNova/nova.config
App/EvidenceNova/VisualStudioBootstrap.log
App/evidenceServer/log/EvidenceXPServerLog 2016-10-03_1.xml
