<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
	<runtime>
		<!--This is needed, since reporting does validate some printer drivers.
		    If then OS has no access to internet (but DNS resolve works) then if might take 
			some time (20-30seconds) unitl publisher check will get timeout --> 
		<generatePublisherEvidence enabled="false"/>
	</runtime>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add type="System.Diagnostics.TextWriterTraceListener" name="TextWriter"
             initializeData="log\ReportTrace.log" />
      </listeners>
    </trace>
    <switches>
      <!-- This will activate the report logging -->
      <add name="ExportReport" value="0"/>
    </switches>
  </system.diagnostics>
</configuration>