<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <appSettings>
        <add key="Password" value="QQBFAFMAMgA1ADYAWABLAHcAZgBlAHUAcgAwADUAQgBQADEARwBGAHMAbAA1AGwAWgAyAEEAVwBUAGoAaQByAFcAegBkAFUAYwBFADgARgBBAFkAZQBBAHcARABiAFcASQBkADEAVwBWAGoAWAArAFoAcgBhAFcASQBjAFgAQgAvAGUAZQBrADkASQA=" />
        <add key="InstanceName" value="venicle" />
        <add key="AppServerName" value="Evidence" />
        <add key="Port" value="15719" />
        <add key="machineConfig" value="" />
        <add key="LogStyle" value="-1" />
        <add key="LogPrefix" value="EvidenceXPServerLog " />
        <add key="DBhost" value="localhost" />
        <add key="DBname" value="evi_vehicle" />
        <add key="DBlogin" value="EvidenceXP" />
        <add key="Scheduler" value="Off" />
        <add key="WindowsAuthentication" value="True" />
    </appSettings>
</configuration>