<?xml version="1.0" encoding="utf-8" ?>
<NovaConfig>
	<!-- the evidence service connection -->
	<EvdConnection>tcp://localhost:15719/smartLbz</EvdConnection>

	<!-- the listening uri for nova webserver -->
	<Url>http://localhost/Sachware_Ent/</Url>

	<!-- HSTS enforces a site to always be contacted over HTTPS 
	     Disabled:					off, but does not remove it from existing client (default).
		 Reset0:					clears the domain from the client side cache on next request.
		 Enabled:					adds url to client cache for one year.
		 EnabledIncludeSubdomains:	adds url and subdomains to client cache for one year.
	-->
	<HSTS>Disabled</HSTS>
	<!-- optional: the base-url in case a proxy server is used -->
	<!-- <BaseUrl>https://www.myapp.com/nova</BaseUrl> -->

	<!-- registering addins -->
	<Addins>
		<Addin>Assemblyname, Namespace.Namespace.ClassName</Addin>
		<Addin>Assemblyname, Namespace.Namespace.ClassName</Addin>
	</Addins>

	<!--Project config: https://confluence.glauxsoft.ch/display/N2/Nova+Config -->
	<ProjectConfig>Assemblyname, Namespace.Namespace.ClassName</ProjectConfig>

	<!--Tracelog level: Debug, Info, Warn, Error -->
	<LogLevel>Error</LogLevel>
	<LogFilePath>log/novalog.txt</LogFilePath>

  <RapidApplicationDevelopment Enabled="true" />
	<!-- System Monitoring: https://confluence.glauxsoft.ch/display/N2/Diagnostics#Diagnostics-SystemMonitoring -->
	<SysMonAgentWinLogin>SYSMON\SysMonUser</SysMonAgentWinLogin>

	<!-- Logon options: https://confluence.glauxsoft.ch/display/N2/Nova+Logon+Options -->
    <LogonSmsProvider Username=" Password=" />
	<EvdLogon Enabled="true" />
	<WinLogon Enabled="true" />
	
	<!-- LogonCredentialCache: https://confluence.glauxsoft.ch/display/N2/Cache+credentials -->
	<LogonCredentialCache Enabled="false" />
	
	<!-- CustomLogon: https://confluence.glauxsoft.ch/display/N2/Custom+Logon+Adapter -->
	<CustomLogon Enabled="false" />
	
	<!-- SAML logon : https://confluence.glauxsoft.ch/display/N2/SAML2+Logon -->
	<Saml2Logon Enabled="false" />

    <!-- In case Web Dav is not supported by proxy server then disable the feature by config.
         In case Web Dav is not used by the solution, then disable it in order to limit possible attack vectors.
         Default if element is not set is false --> 
    <WebDavOff>false</WebDavOff>

    <!-- In production do disable try site in order to limit possible attack vectors. -->
    <EnableTryMode>false</EnableTryMode>

    <!-- NovaDoc shows in menu 'Send as Email' entry which attaches the document to an Outlook message an opens it on client side. -->
    <NovaDocSendAsEMail>Disabled</NovaDocSendAsEMail>

</NovaConfig>
