<?xml version="1.0" encoding="utf-8"?>
<NovaConfig>
  <EvdConnection>tcp://localhost:15719/venicle</EvdConnection>
  <!--<LogonAdapter>DemoProject.LogonAdapter,
DemoProject.LogonAdapter.MyAdapterDemo</LogonAdapter>-->
  <!-- Note if you run a windows service with nova and you do not set
an absolute path, then you find the log file in '
c:\Windows\System32\'. -->
  <LogFilePath>log/novalog.txt</LogFilePath>
  <Url>http://localhost:9000/GreenTransport</Url>
  <!--
Possible log level:
Trace,
Debug,
Info,
Warn,
Error
-->
  <LogLevel>Error</LogLevel>
  <Addins>
    <Addin>GlauxSoft.GreenTransport.BookingAddIn, GreenTransport.VehicleAddIn</Addin>
  </Addins>
  <ProjectConfig>GlauxSoft.GreenTransport.BookingAddIn, GreenTransport.ProjectConfig</ProjectConfig>
</NovaConfig>